<div class="container text-bg-danger text-center">
    <h1>Bienvenido a mi APP MVC</h1>
    <button class="btn" onclick={saludo}>
        Saludar
    </button>
</div>
<script>
    const saludo = () => 
    {
        alert('Hola te saludo');
    }
</script>